html{
  background-image: url("../../../../assets/upEclipse.svg"), url("../../../../assets/downEclipse.svg") ;
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 400px 400px, 400px 400px ;
}
